.card {
	padding: 20px;
	position: relative;
	width: 200px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	background-color: #FFFFFF;
	cursor: pointer;
	transition: all 150ms ease;
	
}

.avatar {
	fill: #CCCCCC;
	width: 100%;
}

.status {
	display: inline-block;
	position: absolute;
	top: 45px;
	left: 45px;
	width: 20px;
	height: 20px;
	border: 3px solid #FFFFFF;
	border-radius: 25px;
}

.online {
	background-color: #00FF21;
}

.offline {
	background-color: #FF0000;
}


.user-name {
	font-size: 18px;
	font-weight: 700;
}

.user-role {
	font-size: 18px;
	color: #4C4C4C;
}