.cus-p {
    font-size: 14px;
    font-style: oblique;
}
.cus-padding h4 {
    font-size: 16px;
}
/* Media Queries */
@media (max-width: 700px) {
    .cus-padding {
        text-align: center!important;
    }
}