.MyJumbotron {
    background: url('../images/jumbotron-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    z-index: 999;
    animation-duration: 2s;
    animation-delay: 0.5s;
}
.Jumbotron-Overlay {
    background-color: rgba(0, 0, 0, 0.712);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.SpeakLogo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    animation-duration: 3s;
    animation-delay: 0.9s;
}
.Jumbotron-Header-Text {
    color: #fff;
    font-size: 50px;
}
.Jumbotron-Header-Desc {
    color: #fff;
    font-weight: bolder;
    line-height: 0.5rem;
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.Jumbotron-Button {
    margin-top: 30px;
}

/* Media Queries */
@media (max-width: 700px) {
    .SpeakLogo img {
        width: 100px!important;
    }
    .h1, h1 {
        font-size: 28px!important;
        color: black;
    }
    h1 span {
        display: block;
        height: 30px;
    }
    .Jumbotron-Header-Text {
        text-align: center;       
        
    }
    .Jumbotron-Header-Desc {
        text-align: center;
        line-height: 1.2rem;
        font-size: 16px;
        padding: 0 20px;
    }
    .Slide-Header {
        padding: 10px 20px;
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .Slide-Title {
        font-size: 27px;

    }
    .Slide-Title-Desc {
        font-size: 16px;
    }
    .own-card {
        padding: 10px 20px;
    }
}