.cus-p {
    font-size: 14px;
    font-style: oblique;
}
.cus-padding h4 {
    font-size: 16px;
}
.Sub-Slide-Header {
        margin: auto;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.Token-Staking {
        font-size: 20px!important;
    }
/* Media Queries */
@media (max-width: 700px) {
    .cus-padding {
        text-align: center!important;
    }
    .Token-Staking {
        font-size: 20px!important;
    }
}