@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url(./assets/fonts/main-font-bold-c.woff) format("woff");
}
@font-face {
  font-family: "MyFontRegular";
  src: local("MyFontRegular"),
    url(./assets/fonts/main-font-regular.woff) format("woff");
}
html {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "MyFontRegular";
  /* font-weight: 400; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  font-family: "MyFontRegular", sans-serif;
  margin: 0;
  color: #333;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  margin-top: 45px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MyFont";
}
.own-card-title {
  font-size: 18px!important;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
