.Slide-Header {
    margin: 90px 0 50px;
}

.Slide-Title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    position: relative;
}
.Slide-Title::after {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 45%;
  width: 10%;
    height: 2px;
    background-color: #f31212;
}
.Slide-Title-Desc {
    margin: 45px 0 10px;
}
.contact-wrapper {
  background-image: url('../../assets/bg.jpg');
}